<h1>Index</h1>

<a href="/secondpage">두 번째 페이지로 이동</a>
<a href="/thirdpage">세 번째 페이지로 이동</a>
<!--<a href="nextpage">subpage로 감</a> routes에 써준, 이름 그걸 써주면 됨-->
<!--a href=""라고 쓴다고 해서 root 'home#index'와 같은 기능을 해준다는 의미는 아님. 주소를 꼭 써줘야 함.-->